In [1]:
import pandas as pd

In [2]:
s = pd.Series(list("asdasadasddasdadadasdas"))
s

0     a
1     s
2     d
3     a
4     s
5     a
6     d
7     a
8     s
9     d
10    d
11    a
12    s
13    d
14    a
15    d
16    a
17    d
18    a
19    s
20    d
21    a
22    s
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [4]:
s.value_counts()

a    9
d    8
s    6
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [8]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64